h1 {
  color: red;
  text-align:center;
}
p{
  color: pink
}



.name{
  font-weight: bold;
  color: green;
}

#top
{
  font-size: 50px;
  color: red;
}

#middle
{
  font-size: 25px;
}

#bottom
{
  font-size: 10px;
}
